<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      provident praesentium perspiciatis facere laboriosam ipsa consectetur
      minus! Voluptatibus, impedit consequatur?
    </p>
  </header>
  <div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
      ratione?
    </div>
  </div>
</section>
<section class="block block--dark block--skew-right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      provident praesentium perspiciatis facere laboriosam ipsa consectetur
      minus! Voluptatibus, impedit consequatur?
    </p>
  </div>
</section>
